In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [2]:
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')
flights = pd.read_csv('flights.csv', low_memory = False)

In [3]:
airports = pd.read_csv('airports.csv')

In [4]:
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [5]:
airlines = airlines.rename(columns={'IATA_CODE' : 'AIRLINE_CODE'})

In [6]:
airlines

   AIRLINE_CODE                       AIRLINE
0            UA         United Air Lines Inc.
1            AA        American Airlines Inc.
2            US               US Airways Inc.
3            F9        Frontier Airlines Inc.
4            B6               JetBlue Airways
5            OO         Skywest Airlines Inc.
6            AS          Alaska Airlines Inc.
7            NK              Spirit Air Lines
8            WN        Southwest Airlines Co.
9            DL          Delta Air Lines Inc.
10           EV   Atlantic Southeast Airlines
11           HA        Hawaiian Airlines Inc.
12           MQ  American Eagle Airlines Inc.
13           VX                Virgin America

In [7]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [8]:
airports = airports.rename(columns={'IATA_CODE' : 'AIRPORT_CODE'})

In [9]:
airports.isnull().sum()

AIRPORT_CODE    0
AIRPORT         0
CITY            0
STATE           0
COUNTRY         0
LATITUDE        3
LONGITUDE       3
dtype: int64

In [10]:
airports = airports.dropna(subset = ['LATITUDE','LONGITUDE'])

In [11]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
flights['CANCELLATION_REASON'].value_counts()

B    48851
A    25262
C    15749
D       22
Name: CANCELLATION_REASON, dtype: int64

In [13]:
#Zamiana wartości A,B,C,D na numeryczne

In [14]:
flights['CANCELLATION_REASON'].replace(to_replace=['A', 'B', 'C','D'], value=[1, 2, 3, 4], inplace=True)

In [15]:
flights['CANCELLATION_REASON'] = flights['CANCELLATION_REASON'].fillna(0)

In [16]:
flights.isnull().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON          0
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [17]:
#Zmiana NaNów na 0

In [18]:
flights['AIR_SYSTEM_DELAY'] = flights['AIR_SYSTEM_DELAY'].fillna(0)
flights['SECURITY_DELAY'] = flights['SECURITY_DELAY'].fillna(0)
flights['AIRLINE_DELAY'] = flights['AIRLINE_DELAY'].fillna(0)
flights['LATE_AIRCRAFT_DELAY'] = flights['LATE_AIRCRAFT_DELAY'].fillna(0)
flights['WEATHER_DELAY'] = flights['WEATHER_DELAY'].fillna(0)

In [19]:
flights.isnull().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
FLIGHT_NUMBER               0
TAIL_NUMBER             14721
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_TIME          86153
DEPARTURE_DELAY         86153
TAXI_OUT                89047
WHEELS_OFF              89047
SCHEDULED_TIME              6
ELAPSED_TIME           105071
AIR_TIME               105071
DISTANCE                    0
WHEELS_ON               92513
TAXI_IN                 92513
SCHEDULED_ARRIVAL           0
ARRIVAL_TIME            92513
ARRIVAL_DELAY          105071
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON         0
AIR_SYSTEM_DELAY            0
SECURITY_DELAY              0
AIRLINE_DELAY               0
LATE_AIRCRAFT_DELAY         0
WEATHER_DELAY               0
dtype: int64

In [20]:
percent = (105071 / 5819079)*100
percent

1.8056293788071962

In [21]:
#Mniej niż 2% danych można usunać, nie zepsują predykcji

In [22]:
flights.dropna(inplace = True)

In [23]:
#Oczyszczone dane

In [24]:
flights.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
CANCELLATION_REASON    0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [25]:
#Zmiana kolumn 'YEAR','MONTH', 'DAY' na 'DATE'

In [26]:
flights['DATE'] = pd.to_datetime(flights[['YEAR','MONTH', 'DAY']])

In [27]:
# Zmiana wyświetlania zmiennych godzinowych
def conv_time(time_val):
    if pd.isnull(time_val):
        return np.nan
    else:
            # 24:00 na 00:00:
        if time_val == 2400: time_val = 0
        time_val = "{0:04d}".format(int(time_val))
        time_formatted = datetime.time(int(time_val[0:2]), int(time_val[2:4]))
    return time_formatted

In [28]:
flights['ARRIVAL_TIME'] = flights['ARRIVAL_TIME'].apply(conv_time)
flights['DEPARTURE_TIME'] = flights['DEPARTURE_TIME'].apply(conv_time)
flights['SCHEDULED_DEPARTURE'] = flights['SCHEDULED_DEPARTURE'].apply(conv_time)
flights['WHEELS_OFF'] = flights['WHEELS_OFF'].apply(conv_time)
flights['WHEELS_ON'] = flights['WHEELS_ON'].apply(conv_time)
flights['SCHEDULED_ARRIVAL'] = flights['SCHEDULED_ARRIVAL'].apply(conv_time)

In [29]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,00:05:00,...,-22.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,00:10:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
2,2015,1,1,4,US,840,N171US,SFO,CLT,00:20:00,...,5.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,00:20:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,00:25:00,...,-21.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01

In [30]:
#Usunięcie zbędnych kolumn

In [31]:
flights = flights.drop(['TAXI_OUT', 'TAXI_IN', 'WHEELS_ON', 'WHEELS_OFF', 'YEAR', 'MONTH','DAY','DAY_OF_WEEK',
             'FLIGHT_NUMBER', 'TAIL_NUMBER', 'AIR_TIME'], axis=1)

In [32]:
flights.head()

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,DISTANCE,SCHEDULED_ARRIVAL,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,AS,ANC,SEA,00:05:00,23:54:00,-11.0,205.0,194.0,1448,04:30:00,...,-22.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
1,AA,LAX,PBI,00:10:00,00:02:00,-8.0,280.0,279.0,2330,07:50:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
2,US,SFO,CLT,00:20:00,00:18:00,-2.0,286.0,293.0,2296,08:06:00,...,5.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
3,AA,LAX,MIA,00:20:00,00:15:00,-5.0,285.0,281.0,2342,08:05:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
4,AS,SEA,ANC,00:25:00,00:24:00,-1.0,235.0,215.0,1448,03:20:00,...,-21.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01

In [ ]:
#zmiana nazw kolumn, merge danych

In [128]:
origin_airport = airports[['AIRPORT_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE']].copy()

In [129]:
origin_airport = origin_airport.rename(columns={'AIRPORT_CODE' : 'ORIGIN_AIRPORT_CODE', 'AIRPORT' : 'ORIGIN_AIRPORT', 'CITY' : 'ORIGIN_AIRPORT_CITY', 'STATE' : 'ORIGIN_AIRPORT_STATE', 'COUNTRY' : 'ORIGIN_AIRPORT_COUNTRY', 'LATITUDE' : 'ORIGIN_AIRPORT_LATITUDE', 'LONGITUDE' : 'ORIGIN_AIRPORT_LONGITUDE'})

In [130]:
origin_airport.head()

,ORIGIN_AIRPORT_CODE,ORIGIN_AIRPORT,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [131]:
origin_airport.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319 entries, 0 to 321
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ORIGIN_AIRPORT_CODE       319 non-null    object
 1   ORIGIN_AIRPORT            319 non-null    object
 2   ORIGIN_AIRPORT_CITY       319 non-null    object
 3   ORIGIN_AIRPORT_STATE      319 non-null    object
 4   ORIGIN_AIRPORT_COUNTRY    319 non-null    object
 5   ORIGIN_AIRPORT_LATITUDE   319 non-null    float64
 6   ORIGIN_AIRPORT_LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 19.9+ KB

In [132]:
destination_airport = airports[['AIRPORT_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE', 'LONGITUDE']].copy()

In [133]:
destination_airport = destination_airport.rename(columns={'AIRPORT_CODE' : 'DESTINATION_AIRPORT_CODE', 'AIRPORT' : 'DESTINATION_AIRPORT', 'CITY' : 'DESTINATION_AIRPORT_CITY', 'STATE' : 'DESTINATION_AIRPORT_STATE', 'COUNTRY' : 'DESTINATION_AIRPORT_COUNTRY', 'LATITUDE' : 'DESTINATION_AIRPORT_LATITUDE', 'LONGITUDE' : 'DESTINATION_AIRPORT_LONGITUDE'})

In [134]:
flights_1 = flights.rename(columns={'AIRLINE' : 'AIRLINE_CODE', 'ORIGIN_AIRPORT' : 'ORIGIN_AIRPORT_CODE', 'DESTINATION_AIRPORT' : 'DESTINATION_AIRPORT_CODE'})
flights_1

,AIRLINE_CODE,ORIGIN_AIRPORT_CODE,DESTINATION_AIRPORT_CODE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,DISTANCE,SCHEDULED_ARRIVAL,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,AS,ANC,SEA,00:05:00,23:54:00,-11.0,205.0,194.0,1448,04:30:00,...,-22.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
1,AA,LAX,PBI,00:10:00,00:02:00,-8.0,280.0,279.0,2330,07:50:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
2,US,SFO,CLT,00:20:00,00:18:00,-2.0,286.0,293.0,2296,08:06:00,...,5.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
3,AA,LAX,MIA,00:20:00,00:15:00,-5.0,285.0,281.0,2342,08:05:00,...,-9.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
4,AS,SEA,ANC,00:25:00,00:24:00,-1.0,235.0,215.0,1448,03:20:00,...,-21.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,B6,LAX,BOS,23:59:00,23:55:00,-4.0,320.0,298.0,2611,08:19:00,...,-26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31
5819075,B6,JFK,PSE,23:59:00,23:55:00,-4.0,227.0,215.0,1617,04:46:00,...,-16.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31
5819076,B6,JFK,SJU,23:59:00,23:50:00,-9.0,221.0,222.0,1598,04:40:00,...,-8.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31
5819077,B6,MCO,SJU,23:59:00,23:53:00,-6.0,161.0,157.0,1189,03:40:00,...,-10.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31
5819078,B6,JFK,BQN,23:59:00,00:14:00,15.0,221.0,208.0,1576,04:40:00,...,2.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2015-12-31

In [137]:
flights_2 = flights_1.merge(origin_airport, how='right')

In [138]:
flights_2

,AIRLINE_CODE,ORIGIN_AIRPORT_CODE,DESTINATION_AIRPORT_CODE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,DISTANCE,SCHEDULED_ARRIVAL,...,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE,ORIGIN_AIRPORT,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE
0,AS,ANC,SEA,00:05:00,23:54:00,-11.0,205.0,194.0,1448,04:30:00,...,0.0,0.0,0.0,2015-01-01,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
1,AS,ANC,SEA,00:45:00,00:41:00,-4.0,204.0,194.0,1448,05:09:00,...,0.0,0.0,0.0,2015-01-01,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
2,DL,ANC,SEA,00:45:00,00:31:00,-14.0,210.0,200.0,1448,05:15:00,...,0.0,0.0,0.0,2015-01-01,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
3,AS,ANC,PDX,00:50:00,00:46:00,-4.0,215.0,201.0,1542,05:25:00,...,0.0,0.0,0.0,2015-01-01,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
4,US,ANC,PHX,01:52:00,01:43:00,-9.0,323.0,322.0,2552,09:15:00,...,0.0,0.0,0.0,2015-01-01,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226564,B6,HYA,JFK,13:09:00,13:25:00,16.0,72.0,47.0,196,14:21:00,...,0.0,0.0,0.0,2015-09-04,Barnstable Municipal Airport,Hyannis,MA,USA,41.66934,-70.28036
5226565,B6,HYA,JFK,13:09:00,12:58:00,-11.0,72.0,55.0,196,14:21:00,...,0.0,0.0,0.0,2015-09-05,Barnstable Municipal Airport,Hyannis,MA,USA,41.66934,-70.28036
5226566,B6,HYA,JFK,13:09:00,13:09:00,0.0,72.0,52.0,196,14:21:00,...,0.0,0.0,0.0,2015-09-06,Barnstable Municipal Airport,Hyannis,MA,USA,41.66934,-70.28036
5226567,B6,HYA,JFK,13:09:00,12:56:00,-13.0,72.0,58.0,196,14:21:00,...,0.0,0.0,0.0,2015-09-07,Barnstable Municipal Airport,Hyannis,MA,USA,41.66934,-70.28036
5226568,B6,HYA,JFK,13:43:00,13:36:00,-7.0,70.0,49.0,196,14:53:00,...,0.0,0.0,0.0,2015-09-08,Barnstable Municipal Airport,Hyannis,MA,USA,41.66934,-70.28036

In [139]:
flights_3 = flights_2.merge(destination_airport, how='right')

In [141]:
flights_4 = flights_3.merge(airlines, how='right')

In [143]:
flights_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5222000 entries, 0 to 5221999
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   AIRLINE_CODE                   object
 1   ORIGIN_AIRPORT_CODE            object
 2   DESTINATION_AIRPORT_CODE       object
 3   SCHEDULED_DEPARTURE            object
 4   DEPARTURE_TIME                 object
 5   DEPARTURE_DELAY                float64
 6   SCHEDULED_TIME                 float64
 7   ELAPSED_TIME                   float64
 8   DISTANCE                       int64
 9   SCHEDULED_ARRIVAL              object
 10  ARRIVAL_TIME                   object
 11  ARRIVAL_DELAY                  float64
 12  DIVERTED                       int64
 13  CANCELLED                      int64
 14  CANCELLATION_REASON            float64
 15  AIR_SYSTEM_DELAY               float64
 16  SECURITY_DELAY                 float64
 17  AIRLINE_DELAY                  float64
 18  LATE_AIRCRAFT_DELAY            float64
 19  WEATHER_DELAY                  float64
 20  DATE                           datetime64[ns]
 21  ORIGIN_AIRPORT                 object
 22  ORIGIN_AIRPORT_CITY            object
 23  ORIGIN_AIRPORT_STATE           object
 24  ORIGIN_AIRPORT_COUNTRY         object
 25  ORIGIN_AIRPORT_LATITUDE        float64
 26  ORIGIN_AIRPORT_LONGITUDE       float64
 27  DESTINATION_AIRPORT            object
 28  DESTINATION_AIRPORT_CITY       object
 29  DESTINATION_AIRPORT_STATE      object
 30  DESTINATION_AIRPORT_COUNTRY    object
 31  DESTINATION_AIRPORT_LATITUDE   float64
 32  DESTINATION_AIRPORT_LONGITUDE  float64
 33  AIRLINE                        object
dtypes: datetime64[ns](1), float64(14), int64(3), object(16)
memory usage: 1.4+ GB